# Example env file that can be used to override env vars for running system-test. Copy this file and
# rename to `env` for the Makefile to use it.
#
# Any variable not supplied here will default to the Makefile's values or can be supplied via
# enviornment variable. You do not need to define everything here.
#
# Using ?= ensures that env vars can be supplied at the command line.

# Global Lustre Root Directory - used for data movement tests
GLOBAL_LUSTRE_ROOT?=/lus/global

# Test TEMPDIR Prefix. This must be available on the computes as well.
TEST_TMPDIR_PREFIX?=/nfs/imports/run/${USER}

# If running as a priviledged user that can make persistent NNF filesystems, set to "yes". Otherwise
# tests are skipped.
ENABLE_PERSISTENT?=no

# For dm-system-test, if a copy offload client is available on the compute nodes, then run copy
# offload tests for lustre and gfs2 if set to "yes".
ENABLE_COPY_OFFLOAD?=yes

# If ENABLE_COPY_OFFLOAD and this is set, then *only* run the copy offload tests - skipping the
# copyout tests
ONLY_COPY_OFFLOAD?=no

# For dm-system-test, when ENABLE_COPY_OFFLOAD is "yes", then the tests rely on the libcopyoffload
# tester tool to be present on the compute nodes. Set the location here. Defaults to
# "lib-copyoff-load-tester" which is assumed on PATH. See
# https://github.com/NearNodeFlash/nnf-dm/tree/master/daemons/lib-copy-offload.
COPY_OFFLOAD_TEST_BIN?=lib-copy-offload-tester

# Use 2 computes, 4 workflows in parallel using the flux queue `rabbit` and only on the two supplied
# compute nodes
N?=2
J?=4
Q?=rabbit
R?=rabbit-compute2,rabbit-compute3
