# Example env file that can be used to override env vars for running system-test. Copy this file and
# rename to `env` for the Makefile to use it.
#
# Any variable not supplied here will default to the Makefile's values or can be supplied via
# enviornment variable. You do not need to define everything here.
#
# Using ?= ensures that env vars can be supplied at the command line.

# Global Lustre Root Directory - used for data movement tests
GLOBAL_LUSTRE_ROOT?=/lus/global

# Test TEMPDIR Prefix. This must be available on the computes as well.
TEST_TMPDIR_PREFIX?=/nfs/

# Use 2 computes, 4 workflows in parallel using the flux queue `rabbit` and only on the two supplied compute nodes
N?=2
J?=4
Q?=rabbit
R?=rabbit-compute2,rabbit-compute3