# Example env file that can be used to override env vars for running system-test. Copy this file and
# rename to `env` for the Makefile to use it.

# Use 2 computes, 4 workflows in parallel using the flux queue `rabbit` and only on the two supplied compute nodes
# Using ?= ensures that env vars can be supplied at the command line.
N?=2
J?=4
Q?=rabbit
R?=rabbit-compute2,rabbit-compute3